<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.comcast.utils.TestFilter"/>
	<listener class-name="com.comcast.utils.CustomAnnotationListener"></listener>
</listeners>
  <test name="CancelSup_EPL_Service_Coax">
    <classes>
      <class name="com.comcast.century.newConnect.CancelSupEPLService">
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
