<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="10">
	<listeners>
		<listener class-name="com.comcast.utils.TestFilter" />
		<listener class-name="com.comcast.utils.CustomAnnotationListener"></listener>
	</listeners>


<!-- 	<test name="EDI_New_Connect_Local_Biller_Billertype_CSG">
		<classes>
			<class name="com.comcast.century.common.NewConnectTest">
				<methods>
					<include name="createCustomer" />
					<include name="createServiceAccount" />
					<include name="createBillingAccount" />
					<include name="createAddress" />
					<include name="selectService" />
					<include name="configureService" />
					<include name="processService" />
					<include name="submitOrder" />
					<include name="Conduct_Site_Survey" />
					<include name="Obtain_Site_Agreement" />
					<include name="Conduct_Fiber_Plant_Survey" />
					<include name="Build_House_Account" />
					<include name="Complete_Wavelength_Reservation" />
					<include name="Complete_Site_Build" />
					<include name="Obtain_Fiber_Plant_Permit" />
					<include name="Complete_Fiber_Plant_Build" />					
				</methods>
			</class>
		</classes>
	</test> -->

	<test name="New_Connect_ME_EDI_New_connect">
		<classes>
			<class name="com.comcast.century.common.NewConnectTest">
				<methods>
					<include name="createCustomer" />
					<include name="createServiceAccount" />
					<include name="createBillingAccount" />
					<include name="createAddress" />
					<include name="selectService" />
					<include name="configureService" />
					<include name="processService" />
					<include name="submitOrder" />
					<include name="Conduct_Site_Survey" />
					<include name="Obtain_Site_Agreement" />
					<include name="Conduct_Fiber_Plant_Survey" />
					<include name="Build_House_Account" />
					<include name="Complete_Wavelength_Reservation" />
					<include name="Complete_Site_Build" />
					<include name="Obtain_Fiber_Plant_Permit" />
					<include name="Complete_Fiber_Plant_Build" />				
					<include name="Build_Update_Local_Biller_Account" />
					<include name="Update_Design" />
					<include name="Ship_CPE" />
					<include name="Create_Account_and_Equipment" />
					<include name="Assign_Design_Info" />
					<include name="Generate_Core_Config" />
					<include name="Generate_CPE_Config" />
					<include name="Load_Core_Config" />
					<include name="Install_CPE" />
					<include name="Set_Critical_Dates" />
					<include name="Day_of_Configs" />
					<include name="Activate_Service" />
					<include name="Notify_Customer_of_Service_Installation" />
					<include name="Complete_Customer_Acceptance_Testing" />
					<include name="Start_Billing" />
				</methods>
			</class>
		</classes>
	</test>


<!-- 	<test name="New_Connect_ME_EDI_ERATE_New_connect">
		<classes>
			<class name="com.comcast.century.common.NewConnectTest">
				<methods>
					<include name="createCustomer" />
					<include name="createServiceAccount" />
					<include name="createBillingAccount" />
					<include name="createAddress" />
					<include name="selectService" />
					<include name="configureService" />
					<include name="processService" />
					<include name="submitOrder" />
					<include name="Conduct_Site_Survey" />
					<include name="Obtain_Site_Agreement" />
					<include name="Conduct_Fiber_Plant_Survey" />
					<include name="Build_House_Account" />
					<include name="Complete_Wavelength_Reservation" />
					<include name="Complete_Site_Build" />
					<include name="Obtain_Fiber_Plant_Permit" />
					<include name="Complete_Fiber_Plant_Build" />		
					<include name="Build_Update_Local_Biller_Account" />
					<include name="Update_Design" />
					<include name="Ship_CPE" />
					<include name="Create_Account_and_Equipment" />
					<include name="Assign_Design_Info" />
					<include name="Generate_Core_Config" />
					<include name="Generate_CPE_Config" />
					<include name="Load_Core_Config" />
					<include name="Install_CPE" />
					<include name="Set_Critical_Dates" />
					<include name="Day_of_Configs" />
					<include name="Activate_Service" />
					<include name="Notify_Customer_of_Service_Installation" />
					<include name="Complete_Customer_Acceptance_Testing" />
					<include name="Start_Billing" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="New_Connect_ME_EDI_BGP_New_connect">
		<classes>
			<class name="com.comcast.century.common.NewConnectTest">
				<methods>
					<include name="createCustomer" />
					<include name="createServiceAccount" />
					<include name="createBillingAccount" />
					<include name="createAddress" />
					<include name="selectService" />
					<include name="configureService" />
					<include name="processService" />
					<include name="submitOrder" />
					<include name="Conduct_Site_Survey" />
					<include name="Obtain_Site_Agreement" />
					<include name="Conduct_Fiber_Plant_Survey" />
					<include name="Build_House_Account" />
					<include name="Complete_Wavelength_Reservation" />
					<include name="Complete_Site_Build" />
					<include name="Obtain_Fiber_Plant_Permit" />
					<include name="Complete_Fiber_Plant_Build" />			
					<include name="Build_Update_Local_Biller_Account" />
					<include name="Update_Design" />
					<include name="Ship_CPE" />
					<include name="Create_Account_and_Equipment" />
					<include name="Assign_Design_Info" />
					<include name="Generate_Core_Config" />
					<include name="Generate_CPE_Config" />
					<include name="Load_Core_Config" />
					<include name="Install_CPE" />
					<include name="Set_Critical_Dates" />
					<include name="Day_of_Configs" />
					<include name="Activate_Service" />
					<include name="Notify_Customer_of_Service_Installation" />
					<include name="Complete_Customer_Acceptance_Testing" />
					<include name="Start_Billing" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="New_Connect_ME_EPL_New_connect">
		<classes>
			<class name="com.comcast.century.common.NewConnectTest">
				<methods>
					<include name="createCustomer" />
					<include name="createServiceAccount" />
					<include name="createBillingAccount" />
					<include name="createAddress" />
					<include name="selectService" />
					<include name="configureService" />
					<include name="processService" />
					<include name="submitOrder" />
					<include name="Conduct_Site_Survey" />
					<include name="Obtain_Site_Agreement" />
					<include name="Conduct_Fiber_Plant_Survey" />
					<include name="Build_House_Account" />
					<include name="Complete_Wavelength_Reservation" />
					<include name="Complete_Site_Build" />
					<include name="Obtain_Fiber_Plant_Permit" />
					<include name="Complete_Fiber_Plant_Build" />				
					<include name="Build_Update_Local_Biller_Account" />
					<include name="Update_Design" />
					<include name="Ship_CPE" />
					<include name="Create_Account_and_Equipment" />
					<include name="Assign_Design_Info" />
					<include name="Generate_Core_Config" />
					<include name="Generate_CPE_Config" />
					<include name="Load_Core_Config" />
					<include name="Install_CPE" />
					<include name="Set_Critical_Dates" />
					<include name="Day_of_Configs" />
					<include name="Activate_Service" />
					<include name="Notify_Customer_of_Service_Installation" />
					<include name="Complete_Customer_Acceptance_Testing" />
					<include name="Start_Billing" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="002-EPL_service">
		<classes>
			<class name="com.comcast.century.common.CoaxTaskFlow">
				<methods>
					<include name="createCustomer" />
					<include name="createServiceAccount" />
					<include name="createBillingAccount" />
					<include name="createAddress" />
					<include name="selectService" />
					<include name="configureService" />
					<include name="processService" />
					<include name="submitOrder" />
					<include name="Conduct_Site_Survey" />
					<include name="Obtain_Site_Agreement" />
					<include name="Conduct_Fiber_Plant_Survey" />
					<include name="Build_House_Account" />
					<include name="Complete_Wavelength_Reservation" />
					<include name="Complete_Site_Build" />
					<include name="Obtain_Fiber_Plant_Permit" />
					<include name="Complete_Fiber_Plant_Build" />
					<include name="Conduct_Site_Survey_Coax" />
					<include name="Obtain_Site_Agreement_Coax" />
					<include name="Conduct_Coax_Survey" />
					<include name="Build_House_Account_Coax" />
					<include name="Obtain_Coax_Permit" />
					<include name="Complete_Site_Build_Coax" />
					<include name="Complete_Coax_Build" />			
					<include name="Build_Update_Local_Biller_Account" />
					<include name="Update_Design" />
					<include name="Ship_CPE" />
					<include name="Create_Account_and_Equipment" />
					<include name="Assign_Design_Info" />
					<include name="Generate_Core_Config" />
					<include name="Generate_CPE_Config" />
					<include name="Load_Core_Config" />
					<include name="Install_CPE" />
					<include name="Set_Critical_Dates" />
					<include name="Day_of_Configs" />
					<include name="Activate_Service" />
					<include name="Notify_Customer_of_Service_Installation" />
					<include name="Complete_Customer_Acceptance_Testing" />
					<include name="Start_Billing" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="New_Connect_ME_EDI_ToF_New_connect">
		<classes>
			<class name="com.comcast.century.common.NewConnectTest">
				<methods>
					<include name="createCustomer" />
					<include name="createServiceAccount" />
					<include name="createBillingAccount" />
					<include name="createAddress" />
					<include name="selectService" />
					<include name="configureService" />
					<include name="processService" />
					<include name="submitOrder" />
					<include name="Conduct_Site_Survey" />
					<include name="Obtain_Site_Agreement" />
					<include name="Conduct_Fiber_Plant_Survey" />
					<include name="Build_House_Account" />
					<include name="Complete_Wavelength_Reservation" />
					<include name="Complete_Site_Build" />
					<include name="Obtain_Fiber_Plant_Permit" />
					<include name="Complete_Fiber_Plant_Build" />			
					<include name="Build_Update_Local_Biller_Account" />
					<include name="Update_Design" />
					<include name="Ship_CPE" />
					<include name="Create_Account_and_Equipment" />
					<include name="Assign_Design_Info" />
					<include name="Generate_Core_Config" />
					<include name="Generate_CPE_Config" />
					<include name="Load_Core_Config" />
					<include name="Install_CPE" />
					<include name="Set_Critical_Dates" />
					<include name="Day_of_Configs" />
					<include name="Activate_Service" />
					<include name="Notify_Customer_of_Service_Installation" />
					<include name="Complete_Customer_Acceptance_Testing" />
					<include name="Start_Billing" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="New_Connect_ME_EVPL_New_connect">
		<classes>
			<class name="com.comcast.century.common.NewConnectTest">
				<methods>
					<include name="createCustomer" />
					<include name="createServiceAccount" />
					<include name="createBillingAccount" />
					<include name="createAddress" />
					<include name="selectService" />
					<include name="configureService" />
					<include name="processService" />
					<include name="submitOrder" />
					<include name="Conduct_Site_Survey" />
					<include name="Obtain_Site_Agreement" />
					<include name="Conduct_Fiber_Plant_Survey" />
					<include name="Build_House_Account" />
					<include name="Complete_Wavelength_Reservation" />
					<include name="Complete_Site_Build" />
					<include name="Obtain_Fiber_Plant_Permit" />
					<include name="Complete_Fiber_Plant_Build" />			
					<include name="Build_Update_Local_Biller_Account" />
					<include name="Update_Design" />
					<include name="Ship_CPE" />
					<include name="Create_Account_and_Equipment" />
					<include name="Assign_Design_Info" />
					<include name="Generate_Core_Config" />
					<include name="Generate_CPE_Config" />
					<include name="Load_Core_Config" />
					<include name="Install_CPE" />
					<include name="Set_Critical_Dates" />
					<include name="Day_of_Configs" />
					<include name="Activate_Service" />
					<include name="Notify_Customer_of_Service_Installation" />
					<include name="Complete_Customer_Acceptance_Testing" />
					<include name="Start_Billing" />
				</methods>
			</class>
		</classes>
	</test> -->
	
	

</suite> 
